RewriteEngine on

ErrorDocument 500 /error.php?code=500
ErrorDocument 501 /error.php?code=501
ErrorDocument 502 /error.php?code=502
ErrorDocument 503 /error.php?code=503
ErrorDocument 504 /error.php?code=504
ErrorDocument 505 /error.php?code=505
ErrorDocument 506 /error.php?code=506
ErrorDocument 507 /error.php?code=507
ErrorDocument 508 /error.php?code=508
